.side-drawer {
    height: 100%;

    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 5%;
    right: 0;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: -1;
  }
  .sidedrawer_items ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  .sidedrawer_items li{
    margin:2rem 0.5rem 1rem 0;
  }
  .side-drawer.open {
    transform: translateX(0);
  }

  @media (min-width:769px){
    .side-drawer{
      display:none;
    }
  }
